{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %} {% endblock %}
    {% block stl %} {% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/planetsCs.css' %}">
</head>
<body>

    <aside>
        {% block bgImg %}
        {% endblock %}
    </aside>

    <newA>
        <div class="ggi">
            <img width="50px" height="50px" src="{% static 'main/img/menu1.png' %}" alt="меню">
            <div class="plnts">
                <a href="{% url 'mercury' %}"><img width="50vw" hspace="30" vspace="-10" class="planet1" src="{% static 'main/img/mercury.png' %}" alt="меркурий"> <div class="mercT">Меркурий</div></a>
                <a href="{% url 'venus' %}"><img width="80vw" hspace="30" vspace="-10" class="planet2" src="{% static 'main/img/venus.png' %}" alt="венера"> <div class="venT">Венера</div></a>
                <a href="{% url 'earth' %}"><img width="100vw" hspace="30" vspace="-10" class="planet3" src="{% static 'main/img/earth.png' %}" alt="земля"> <div class="earT">Земля</div></a>
                <a href="{% url 'mars' %}"><img width="70vw" hspace="30" vspace="-10" class="planet4" src="{% static 'main/img/mars.png' %}" alt="МаРс"> <div class="marT">Марс</div></a>
                <a href="{% url 'jupiter' %}"><img width="170vw" hspace="30" vspace="-10" class="planet5" src="{% static 'main/img/jupiter.png' %}" alt="юпитер"> <div class="jupT">Юпитер</div></a>
                <a href="{% url 'saturn' %}"><img width="160vw" hspace="30" vspace="-10" class="planet6" src="{% static 'main/img/saturn.png' %}" alt="сатурн"> <div class="satT">Сатурн</div></a>
                <a href="{% url 'uranus' %}"><img width="90vw" hspace="30" vspace="-10" class="planet7" src="{% static 'main/img/uranus.png' %}" alt="уран"> <div class="uraT">Уран</div></a>
                <a href="{% url 'about' %}"><img width="85vw" hspace="30" vspace=-10" class="planet8" src="{% static 'main/img/neptune.png' %}" alt="нептун"> <div class="neptT">Нептун</div></a>
                <div class="ar">

                </div>
            </div>
        </div>
    </newA>

    <main>
        {% block content %}
        {% endblock %}
    </main>


</body>
</html>